
.fictive-mobile-top{
  height: 120px;
  width: 100%;
  transition: height 0.45s;
  background-color: red;
}
#mobile-top {
  height: 120px;
  background-color: $light-silver;
  background-image: url("../../../public/assests/images/mobile-top.webp");
  @include bg-image(contain, right center, no-repeat);
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  transition: top 2s;
  .top-container {
    max-width: $top-max-width;
    margin: auto;
    padding: 0 $gnrl-padding;
    height: 100%;
    .row {
      @include flex($justify: space-between, $align: center);
      height: 100%;
      .logo-side {
        @include flex($align: center);
        a {
          display: block;
          div {
            width: 64px;
            height: 64px;
            border-radius: 12px;
            background-color: $yellow;
            background-image: url("../../../public/assests/icons/yelo_logo.svg");
            @include bg-image($position: center, $repeat: no-repeat);
            margin-right: 20px;
          }
        }
        p {
          font-size: 18px;
        }
      }
      .center-links {
        width: 420px;
        min-width: 420px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-right: 24vw;
        background-color: white;
        ul {
          width: 100%;
          overflow: hidden;
          @include flex($justify: space-between);
          li {
            width: 33.33%;
            list-style: none;
            position: relative;
            padding: 0 0 0 16px;
            &::after {
              content: "";
              background-color: silver;
              height: 60%;
              width: 1px;
              position: absolute;
              left: -1px;
              top: 20%;
            }
            a {
              text-decoration: none;
              div {
                padding: 6px 0 6px 34px;
                @include bg-image(
                  $position: left center,
                  $repeat: no-repeat,
                  $size: 23px
                );
                span {
                  font-size: 10px;
                  color: $black;
                }
                p {
                  font-size: 14px;
                  color: $black;
                }
              }
              .app-store {
                background-image: url("/public/assests/icons/apple.svg");
              }
              .google-play {
                background-image: url("/public/assests/icons/google_play.svg");
              }
              .app-gallery {
                background-image: url("/public/assests/icons/huawei_play.svg");
              }
            }
          }
        }
      }
      .btn-side {
        button {
          background-color: transparent;
          width: 52px;
          height: 52px;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}

