$yellow: #FFC82D;
$light-black: rgba(0,0,0,0.5);
$black: #000000; 
$light-silver: #F8F8F8;

$gnrl-font-family: 'r', Arial, sans-serif;


$top-max-width: 1440px;
$gnrl-max-width: 1140px;
$gnrl-padding: 20px;
